@import '~office-ui-fabric-react/dist/sass/References.scss';

.calendarFeedSummary {
  // this is a trick I use to create classes that are empty
  // just define an attribute which uses 'inherit'
  // it has no impact to styles, but won't complain
  // about the empty CSS class
  color: inherit;
  background-image: url(../../shared/img/Landscape_XL-shutterstock_197017403_training.png);
  background-repeat: round;
}

.colorGreen {
  color: #95c11f !important;
}

.colorRed {
  color: red !important;
}

.floatRightPanelLabel {
  float: right;
}

.floatLeftPanelLabel {
  float: left;
}

.width95 {
  width: 95%;
}

.width5 {
  width: 5%;
}

.buttonPanelInscricao {
  min-width: auto !important;
  padding: 5px !important;
  margin: 0px 3px 0 3px !important;
}

.floatLeft {
  float: left;
  height: 30px;
  line-height: 32px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.floatRight {
  float: right;
  height: 30px;
  line-height: 32px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.webPartChrome {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-direction: column;
  flex-direction: column;
}

.headerSmMargin {
  margin-bottom: 11px;
}

.headerLgMargin {
  margin-bottom: 18px;
}

.webPartTitle {
  color: white !important;
}

.webPartHeader {
  color: white !important;
  height: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.colorWhite {
  color: white;
}

.seeAll {
  white-space: nowrap;
  margin-left: auto;
  position: relative;
}

.content {
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
}

.list {
  width: 100%;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}

.iconCalendarHeader {
  font-size: 23px;
  width: 5%;
  padding-left: 2%;
}

.lineTitleHeader {
  margin-left: 7%;
  width: 80px;
  height: 2px;
  background-color: #95c11f;
}

.spinner {
  position: absolute;
  width: 95px;
  margin: 32% 45%;
  background-color: black;
  z-index: 10;
  opacity: 0.8;
  text-align: -webkit-center;
}

.emptyMessage {
  overflow: hidden;
  display: inline-block;
  margin: 10px 0 15px;
  color: $ms-color-neutralSecondary;
}

.errorMessage {
  overflow: hidden;
  display: inline-block;
  margin: 10px 0 15px;
  color: $ms-color-neutralSecondary;
}

.errorMessage .moreDetails {
  color:$ms-color-error;
}

.slickListInherit{
  overflow: inherit !important;
}

.slickSliderMargin{
  margin-top: 30px !important;
}

.filmstripLayoutHidden{
  overflow: hidden !important;
}
