@import '~office-ui-fabric-react/dist/sass/References.scss';

// .instagram {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .svgInstagram {
    height: 24px;
    width: 24px;
    background-image: url("../share/img/Instagram.svg");
  }

  .gridSvgInstagram {
    padding: 6% 0 0 0 !important;
  }

  .gridTextHeaderInstagram {
    padding: 4% 0 0 0 !important;
    font-size: 24px;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .discribePerfil {
    padding: 20px !important;
    font-size: 10px;
    padding-left: 0px !important;
  }

  .textPerfilInstagram {
    text-align: right;
    padding-right: 50px;
    margin-top: 30px;
  }

  .barraPerfilInstagram {
    width: 80px;
    height: 2px;
    background-color: #95c11f;
  }

  .textBottonInstagram {
    margin: 10px 26px 30px !important;
  }

  .textInstagramHeader {
    height: 60px;
    padding-left: 15px;
    color: white;
    margin-bottom: 15px !important;
  }

  .textColorBlue:hover {
    color: blue;
  }

  .textColorBlue {
    color: blue;
  }

  .marginBottom10 {
    margin-bottom: 10px;
  }

  .subscribeButton {
    width: max-content;
    padding: 0px 7px 0 7px;
    background-color: #0069a9;
    color: white;
    cursor: pointer;
    float: right;
    margin: 0 2px;
  }

  .paddingRight {
    padding-right: 8px;
  }

  .pointButton {
    height: 20px;
    background-color: blue;
    color: white;
    min-width: 0px !important;
  }

  .floatLeft {
    float: left !important;
  }

  .gridPerfil {
    margin: 10px !important;
    background-color: white !important;
  }

  .colorBackGroundBlue {
    background-color: #0069a9 !important;
  }

  .imagePerfil {
    border-radius: 90px;
    width: 100%;
    // height: 100%;
    border: 1px solid;
    float: left !important;
  }

  .image {
    max-height: 90px;
    width: 90px;
    height: 90px;
  }

  .buttonBase {
    height: 75%;
    width: 70%;
    margin: 10px !important;
  }

  .buttonBaseFeed {
    height: 75%;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
// }
