@import '~office-ui-fabric-react/dist/sass/References.scss';

.Paging {
  width: 100%;
  //min-width: 240px;
  text-align: center;
  margin: 0;
  padding: 2px 0;
  border: 1px solid transparent;
  position: relative;
}

.Paging .next,
.Paging .prev {
  margin: 0;
  display: inline-block;
  border: none;
}

.Paging button {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 4px;
  margin: 0 8px;
  cursor: pointer;
  cursor: hand;
  position: relative;
  height: 32px!important;
  display: none;
  outline: 0;
}

.Paging.noPageNum {
  text-align: left;
}

.noPageNum .next {
  float: right;
}

.Paging .next,
.Paging .prev {
  margin: 0;
  display: inline-block;
  border: none;
}

.Paging button {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 4px;
  margin: 0 8px;
  cursor: pointer;
  cursor: hand;
  position: relative;
  height: 32px!important;
  display: none;
  outline: 0;
}
